# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*

# next.js
/.next/
/out/
next-env.d.ts
*.tsbuildinfo

# production
/build

# testing
/coverage
/test-results
/playwright-report
/blob-report
/playwright/.cache
/tests/e2e/screenshots/*.png

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env*.local
!.env.example

# vercel
.vercel

# supabase
supabase/.branches
supabase/.temp
supabase/.env

# lighthouse
/lighthouse
.lighthouseci

# design-QA screenshots
/.qa
